<div>
  <h1><%= "Order##{@order.id}" %></h1>
  <h3>Shop: <%= link_to @order.shop.title, shop_path(@order.shop) %></h3>
  <h3>Price: <%= @order.price %></h3>
  <br/>
  <h3>Order Products:</h3>
  <ul>
    <% @order.order_products.each do |order_product| %>
      <span>Product: <%= link_to order_product.product.title, shop_product_path(order_product.shop, order_product.product) %></span>
      <span> Package: <%= order_product.package.title %></span>
      <span> Amount: <%= order_product.amount %></span>
    <% end %>
  </ul>
</div>