<h1>My cart</h1>

<table class="table table-bordered">
  <tr>
    <th>Product</th>
    <th>Package</th>
    <th>Amount</th>
    <th></th>
  </tr>
  <% @cart.cart_products.each do |cart_product| %>
    <tr>
      <td><%= cart_product.product.title %></td>
      <td><%= cart_product.package.title %></td>
      <td>
        <%= render(partial: "cart_products/form", locals: { cart_product: cart_product, submit_button_title: "Update" }) %>
      </td>
      <td>
        <%= render(partial: "cart_products/remove_button", locals: { cart_product: cart_product }) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Make order!", new_shop_order_path(@shop), class: "btn btn-primary", remote: :true %>