<%= @product.title %>
<br/>
<%= @product.category.title %>
<br/>
<%= @product.description %>
<br/>

<h2>Packages:</h2>
<% @product.packages.each do |package| %>
  <p>
    <%= package.title %> - <%= package.amount %>
    <%= render(partial: "cart_products/form", locals: { cart_product: CartProduct.new(product_id: @product.id, package_id: package.id), submit_button_title: "Add to cart" }) %>
  </p>
<% end %>
<div id="thumbs">
<% @product.images.each do |image| %>
  <%= link_to image.url do %>
    <%= image_tag image.url, size: "120x120" %>
  <% end %> 
<% end %>
</div>